.form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-input {
    border: none;
    padding: .5rem;
    font-size: 1.5rem;
    background: white;
  }

  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;

    &:hover::after {
        background: white;
        color: #fda085;
      }

    &:after {
      content: '\25BC';
      position: absolute;
      background: #fda085;
      top: 0;
      color: white;
      right: 0;
      pointer-events: none;
      padding: 1rem;
      transition: all .3s ease;


    }
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-list {
    list-style: none;

    .todo {
      background: white;
      margin: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 1s ease;
      min-width: 30%;

      .todo-item {
        color: black;
        flex: 1;
        padding: 0rem 3rem 0 .5rem;
        font-size: 1.4rem;
      }
    }
  }
}
