.form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-input {
    border: none;
    padding: .5rem;
    font-size: 2rem;
    background: white;
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-list {
    list-style: none;

    .todo {
      background: white;
      margin: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .todo-item {
        color: black;
        flex: 1;
        padding: 0rem 3rem 0 .5rem;
        font-size: 1.3rem;
      }
    }
  }
}
