* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg,#f6d365, #fda085);
  color: white;
  min-height: 100vh;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}
