* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg,#f6d365, #fda085);
  color: white;
  min-height: 100vh;
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  color: #fda085;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
